* {
	font-family: georgia;
	font-style: italic;
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-decoration: none;
}
.nav {
	padding-left: 10px;
	padding-top: 10px;
}
.menu {
	border-bottom: 2px solid #6d6d6d;
	float: left;
	position: relative;
}
.links {
	background-color: #cfcfcf;
	border: 1px solid #cfcfcf;
	border-bottom-color: 1px solid transparent;
	color:black;
	display: block;
	font-size: 18px;
	margin-left: 2px;
	padding: 10px 20px;
	margin-bottom: -1px;
}
.menu:first-child .links {
	margin-left: 0px;
}
.menu ul {
	display: none;
}
.menu:hover ul {
	display: block;
}
.menu:hover .links {
	background-color: white;
	border-bottom-color: white;
	border-bottom: 0;
	border-color: black;
	color: #8c8c8c;
}
.subnav {
	border: 1px solid #6d6d6d;
	border-top: 0;
	left: 2px;
	position: absolute;
	top: 40px;
	width: 200px;
}
.submenu {
	border-bottom: 0;
	border-top: 0;
}
.sublinks {
	border-bottom: 1px solid #cfcfcf;
	color: black;
	display: block;
	font-size: 14px;
	padding: 5px 0;
}
.sublinks:hover {
	color: #bd0707;
}
.submenu:last-child .sublinks {
	border-bottom: 0;
}